<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.four.mapper.CityMenuMapper">
  <resultMap id="BaseResultMap" type="com.example.four.entity.CityMenu">
    <id column="cityMenu_id" jdbcType="INTEGER" property="citymenuId" />
    <result column="cityMenu_name" jdbcType="VARCHAR" property="citymenuName" />
    <result column="cityMenu_img" jdbcType="VARCHAR" property="citymenuImg" />
    <result column="cityMenu_bigimg" jdbcType="VARCHAR" property="citymenuBigimg" />
    <result column="cityMenu_intro" jdbcType="VARCHAR" property="citymenuIntro" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
  </resultMap>
  <sql id="Base_Column_List">
    cityMenu_id, cityMenu_name, cityMenu_img, cityMenu_bigimg, cityMenu_intro, city_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from city_menu
    where cityMenu_id = #{citymenuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from city_menu
    where cityMenu_id = #{citymenuId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="cityMenu_id" keyProperty="citymenuId" parameterType="com.example.four.entity.CityMenu" useGeneratedKeys="true">
    insert into city_menu (cityMenu_name, cityMenu_img, cityMenu_bigimg, 
      cityMenu_intro, city_id)
    values (#{citymenuName,jdbcType=VARCHAR}, #{citymenuImg,jdbcType=VARCHAR}, #{citymenuBigimg,jdbcType=VARCHAR}, 
      #{citymenuIntro,jdbcType=VARCHAR}, #{cityId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="cityMenu_id" keyProperty="citymenuId" parameterType="com.example.four.entity.CityMenu" useGeneratedKeys="true">
    insert into city_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="citymenuName != null">
        cityMenu_name,
      </if>
      <if test="citymenuImg != null">
        cityMenu_img,
      </if>
      <if test="citymenuBigimg != null">
        cityMenu_bigimg,
      </if>
      <if test="citymenuIntro != null">
        cityMenu_intro,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="citymenuName != null">
        #{citymenuName,jdbcType=VARCHAR},
      </if>
      <if test="citymenuImg != null">
        #{citymenuImg,jdbcType=VARCHAR},
      </if>
      <if test="citymenuBigimg != null">
        #{citymenuBigimg,jdbcType=VARCHAR},
      </if>
      <if test="citymenuIntro != null">
        #{citymenuIntro,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.four.entity.CityMenu">
    update city_menu
    <set>
      <if test="citymenuName != null">
        cityMenu_name = #{citymenuName,jdbcType=VARCHAR},
      </if>
      <if test="citymenuImg != null">
        cityMenu_img = #{citymenuImg,jdbcType=VARCHAR},
      </if>
      <if test="citymenuBigimg != null">
        cityMenu_bigimg = #{citymenuBigimg,jdbcType=VARCHAR},
      </if>
      <if test="citymenuIntro != null">
        cityMenu_intro = #{citymenuIntro,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
    </set>
    where cityMenu_id = #{citymenuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.four.entity.CityMenu">
    update city_menu
    set cityMenu_name = #{citymenuName,jdbcType=VARCHAR},
      cityMenu_img = #{citymenuImg,jdbcType=VARCHAR},
      cityMenu_bigimg = #{citymenuBigimg,jdbcType=VARCHAR},
      cityMenu_intro = #{citymenuIntro,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=INTEGER}
    where cityMenu_id = #{citymenuId,jdbcType=INTEGER}
  </update>
  <select id="getAllCityMenu" parameterType="Integer" resultMap="BaseResultMap">
    SELECT * FROM `city_menu` WHERE city_id = #{id}
  </select>
</mapper>