<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.four.mapper.FoodsMapper">
  <resultMap id="BaseResultMap" type="com.example.four.entity.Foods">
    <id column="foods_id" jdbcType="INTEGER" property="foodsId" />
    <result column="foods_name" jdbcType="VARCHAR" property="foodsName" />
    <result column="foods_img" jdbcType="VARCHAR" property="foodsImg" />
    <result column="cityMenu_id" jdbcType="INTEGER" property="citymenuId" />
  </resultMap>
  <sql id="Base_Column_List">
    foods_id, foods_name, foods_img, cityMenu_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from foods
    where foods_id = #{foodsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from foods
    where foods_id = #{foodsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="foods_id" keyProperty="foodsId" parameterType="com.example.four.entity.Foods" useGeneratedKeys="true">
    insert into foods (foods_name, foods_img, cityMenu_id
      )
    values (#{foodsName,jdbcType=VARCHAR}, #{foodsImg,jdbcType=VARCHAR}, #{citymenuId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="foods_id" keyProperty="foodsId" parameterType="com.example.four.entity.Foods" useGeneratedKeys="true">
    insert into foods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="foodsName != null">
        foods_name,
      </if>
      <if test="foodsImg != null">
        foods_img,
      </if>
      <if test="citymenuId != null">
        cityMenu_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="foodsName != null">
        #{foodsName,jdbcType=VARCHAR},
      </if>
      <if test="foodsImg != null">
        #{foodsImg,jdbcType=VARCHAR},
      </if>
      <if test="citymenuId != null">
        #{citymenuId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.four.entity.Foods">
    update foods
    <set>
      <if test="foodsName != null">
        foods_name = #{foodsName,jdbcType=VARCHAR},
      </if>
      <if test="foodsImg != null">
        foods_img = #{foodsImg,jdbcType=VARCHAR},
      </if>
      <if test="citymenuId != null">
        cityMenu_id = #{citymenuId,jdbcType=INTEGER},
      </if>
    </set>
    where foods_id = #{foodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.four.entity.Foods">
    update foods
    set foods_name = #{foodsName,jdbcType=VARCHAR},
      foods_img = #{foodsImg,jdbcType=VARCHAR},
      cityMenu_id = #{citymenuId,jdbcType=INTEGER}
    where foods_id = #{foodsId,jdbcType=INTEGER}
  </update>
</mapper>