<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.four.mapper.CityMapper">
  <resultMap id="BaseResultMap" type="com.example.four.entity.City">
    <id column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
  </resultMap>
  <resultMap id="CityResultMap" type="com.example.four.VO.CityVO">
    <id column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
    <collection property="cityMenus" ofType="com.example.four.entity.CityMenu">
      <id column="cityMenu_id" jdbcType="INTEGER" property="citymenuId" />
      <result column="cityMenu_name" jdbcType="VARCHAR" property="citymenuName" />
      <result column="cityMenu_img" jdbcType="VARCHAR" property="citymenuImg" />
      <result column="cityMenu_bigimg" jdbcType="VARCHAR" property="citymenuBigimg" />
      <result column="cityMenu_intro" jdbcType="VARCHAR" property="citymenuIntro" />
      <result column="city_id" jdbcType="INTEGER" property="cityId" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    city_id, city_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from city
    where city_id = #{cityId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from city
    where city_id = #{cityId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="city_id" keyProperty="cityId" parameterType="com.example.four.entity.City" useGeneratedKeys="true">
    insert into city (city_name)
    values (#{cityName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="city_id" keyProperty="cityId" parameterType="com.example.four.entity.City" useGeneratedKeys="true">
    insert into city
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cityName != null">
        city_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cityName != null">
        #{cityName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.four.entity.City">
    update city
    <set>
      <if test="cityName != null">
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
    </set>
    where city_id = #{cityId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.four.entity.City">
    update city
    set city_name = #{cityName,jdbcType=VARCHAR}
    where city_id = #{cityId,jdbcType=INTEGER}
  </update>

  <select id="getAllCitys" resultMap="CityResultMap">
     SELECT
        c.city_id,c.city_name,cm.cityMenu_id,cm.cityMenu_name,cm.cityMenu_img,cm.cityMenu_bigimg,cm.cityMenu_intro
     FROM
        city c,city_menu cm
     WHERE
      c.city_id = cm.city_id
  </select>
</mapper>