<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.four.mapper.DiscussMapper">
  <resultMap id="BaseResultMap" type="com.example.four.entity.Discuss">
    <id column="discuss_id" jdbcType="INTEGER" property="discussId" />
    <result column="discuss_content" jdbcType="VARCHAR" property="discussContent" />
    <result column="discuss_value" jdbcType="INTEGER" property="discussValue" />
    <result column="discuss_img" jdbcType="VARCHAR" property="discussImg" />
    <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
  </resultMap>
  <sql id="Base_Column_List">
    discuss_id, discuss_content, discuss_value, discuss_img, order_sn
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from discuss
    where discuss_id = #{discussId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from discuss
    where discuss_id = #{discussId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="discuss_id" keyProperty="discussId" parameterType="com.example.four.entity.Discuss" useGeneratedKeys="true">
    insert into discuss (discuss_content, discuss_value, discuss_img, 
      order_sn)
    values (#{discussContent,jdbcType=VARCHAR}, #{discussValue,jdbcType=INTEGER}, #{discussImg,jdbcType=VARCHAR}, 
      #{orderSn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="discuss_id" keyProperty="discussId" parameterType="com.example.four.entity.Discuss" useGeneratedKeys="true">
    insert into discuss
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="discussContent != null">
        discuss_content,
      </if>
      <if test="discussValue != null">
        discuss_value,
      </if>
      <if test="discussImg != null">
        discuss_img,
      </if>
      <if test="orderSn != null">
        order_sn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="discussContent != null">
        #{discussContent,jdbcType=VARCHAR},
      </if>
      <if test="discussValue != null">
        #{discussValue,jdbcType=INTEGER},
      </if>
      <if test="discussImg != null">
        #{discussImg,jdbcType=VARCHAR},
      </if>
      <if test="orderSn != null">
        #{orderSn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.four.entity.Discuss">
    update discuss
    <set>
      <if test="discussContent != null">
        discuss_content = #{discussContent,jdbcType=VARCHAR},
      </if>
      <if test="discussValue != null">
        discuss_value = #{discussValue,jdbcType=INTEGER},
      </if>
      <if test="discussImg != null">
        discuss_img = #{discussImg,jdbcType=VARCHAR},
      </if>
      <if test="orderSn != null">
        order_id = #{orderSn,jdbcType=VARCHAR},
      </if>
    </set>
    where discuss_id = #{discussId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.four.entity.Discuss">
    update discuss
    set discuss_content = #{discussContent,jdbcType=VARCHAR},
      discuss_value = #{discussValue,jdbcType=INTEGER},
      discuss_img = #{discussImg,jdbcType=VARCHAR},
      order_Sn = #{orderSn,jdbcType=VARCHAR}
    where discuss_id = #{discussId,jdbcType=INTEGER}
  </update>
</mapper>